
::-webkit-scrollbar{
    width: 6px !important;
    background-color: rgba(49, 49, 49, 0.219) !important;
    border-radius: 3px !important;
}

::-webkit-scrollbar-thumb{
    border-radius: 3px !important;
    background-color: rgba(180, 180, 180, 0.205) !important;
}