@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

*{
  font-family: 'Barlow', sans-serif;
  user-select: none;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body{
    margin: 0; padding: 0;
    outline: none;
}

#canvas{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: white;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden !important;
    user-select: none;
}

#canvas>div{
    overflow: hidden !important;
}

#one{
    height: 100%;
    /* width: 16,666666666666666666666666666%; */
    width: 100%;
    background-color: black;
    animation: openHeight 3s infinite alternate;
    justify-self: center;
}

#two{
    height: 100%;
    /* width: 16,666666666666666666666666666%; */
    width: 100%;
    background-color: black;
    animation: openHeight 3s .3s infinite alternate;
    justify-self: center;
}

#three{
    height: 100%;
    /* width: 16,666666666666666666666666666%; */
    width: 100%;
    background-color: black;
    animation: openHeight 3s .6s infinite alternate;
    justify-self: center;
}

#four{
    height: 100%;
    /* width: 16,666666666666666666666666666%; */
    width: 100%;
    background-color: black;
    animation: openHeight 3s .9s infinite alternate;
    justify-self: center;
}

#five{
    height: 100%;
    /* width: 16,666666666666666666666666666%; */
    width: 100%;
    background-color: black;
    animation: openHeight 3s 1.2s infinite alternate;
    justify-self: center;
}

#six{
    height: 100%;
    /* width: 16,666666666666666666666666666%; */
    width: 100%;
    background-color: black;
    animation: openHeight 3s 1.5s infinite alternate;
    justify-self: center;
}

@keyframes openHeight{
    from{
        height: 0;
        border-bottom: 30px solid blue;
    }
    10%{
        background-color: black;
    }
    50%{
        background-color: blue;
    }
    90%{
        background-color: black;
    }
    to{
        height: 100%;
        border-bottom: 30px solid blue;
    }
}

/* Corner btn. */
#corner_btn{
    position: absolute;
    z-index: 4;
    width: 150px;
    height: 60px;
    background-color: black;
    top: 105px; right: 25px;
    border-radius: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center; align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 600;
    box-shadow: none;
    transition: 0s;
    overflow: hidden !important;
    overflow-y: hidden !important;
}
#corner_btn:hover{
    background-color: white;
    color: black;
}

#corner_btn>p{
    margin-top: 20px;
}

#corner_btn1{
    position: absolute;
    z-index: 4;
    width: max-content;
    height: 60px;
    background-color: yellow;
    top: 25px; right: 25px;
    border-radius: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center; align-items: center;
    text-align: center;
    color: black;
    padding-left: 35px; padding-right: 35px;
    font-size: 25px;
    font-weight: 600;
    box-shadow: none;
    transition: 0s;
    overflow: hidden !important;
    overflow-y: hidden !important;
}
#corner_btn1:hover{
    background-color: black;
    color: yellow;
}

#corner_btn1>p{
    margin-top: 20px;
}
/* endsection */

/* About. */
#about{
    --about-bgcolor: rgba(2, 1, 87, 0.95);
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: max-content;
    background-color: var(--about-bgcolor);
    overflow-y: hidden;
}

#about_title{
    font-size: 50px;
    text-align: left;
    text-indent: 25px;
    color: white;
}

.about-text{
    color: white;
    font-size: 25px;
    text-align: left;
    text-indent: 25px;
}

@media screen and (max-width: 1250px){
    #about_title{
        font-size: 125px;
    }
}

@media screen and (max-width: 1080px){
    #about_title{
        font-size: 100px;
    }
}

@media screen and (max-width: 600px){
    #about_title{
        font-size: 75px;
    }
}

@media screen and (max-width: 350px){
    #about_title{
        font-size: 50px;
    }
}
/* endsection : about */

/* My Powershell. */
#my_powershell{
    --mypowershell-bgcolor: rgba(87, 1, 34, 0.95);
    position: absolute;
    top: 200%; left: 0;
    width: 100%; height: 100%;
    background-color: var(--mypowershell-bgcolor);
    overflow: hidden !important;
}
/* endsection : my_powershell */